<header>
    <div class="header-main">
        <div class="header-left">
            <div class="left-name">
                <h3>Dashboard overview</h3>
            </div>
            <div class="for-search">
                <input type="text" placeholder="search">
            </div>
        </div>
        <div class="header-right">
            <div class="right-links">
                <ul>
                    <li><a>Help guides</a></li>
                    <li><a>Inbox</a></li>
                </ul>
            </div>
            <div class="right-btn">
                <button class="btn">Download client</button>
            </div>
            <div class="right-img">
                <img [src]="myImg">
                <span></span>
            </div>
        </div>
    </div>
</header>
