<aside>
    <div class="aside-main">
        <div class="aside-top">
            <div class="logo">
                <img [src]="logoImg">
            </div>
            <div class="company-name">
                <h3>Company name</h3>
            </div>
        </div>
        <div class="aside-links">
            <ul>
                <li routerLink="users"><a>Users</a></li>
                <li routerLink="posts"><a>Posts</a></li>
                <li routerLink="albums"><a>Albums</a></li>
                <li routerLink="comments"><a>Comments</a></li>
            </ul>
        </div>
        <div class="aside-footer">
            <button class="btn" routerLink="">Logout</button>
        </div>
    </div>
</aside>
